html, body {
    height: 100%;
    max-width: 100%;
    background-color: #fafafa;
    font-family: -apple-system, 
                 BlinkMacSystemFont, 
                 "Segoe UI", 
                 Roboto, 
                 Helvetica,
                 Arial,
                 sans-serif,
                 "Apple Color Emoji",
                 "Segoe UI Emoji",
                 "Segoe UI Symbol";
    font-weight: 400;
    color: #262626;
}

a {
    font-weight: 700;
    color: #4a4a4a;
}

h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    font-weight: 700;
    color: #4a4a4a;
}

b {
    font-weight: 500;
    color: #4a4a4a;
}



.header {
    font-weight: 900;
    color: #4a4a4a;
}

.sidebar_left, .sidebar_right {
    padding: 40px 20px 20px;
}

.sidebar_header {
    height: 80px;
}

.sidebar_header_icon {
    display: inline-block;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('../images/kg-the-maker-logo-portrait.png');
    cursor: pointer;
}

.sidebar_header_logo {
    max-height: 50px;
    margin-top: 15px;
    margin-left: 10px;
}

.sidebar_footer {
    margin-top: 25px;
}

.sidebar_footer_title {
    font-size: 32px;
    line-height: 38px;
}

.sidebar_footer_description {
    margin-top: 25px;
    font-size: 16px;
    line-height: 24px;
}

.sidebar_footer_description h1,
.sidebar_footer_description h2,
.sidebar_footer_description h3 {
    font-weight: 400;
    color: #262626;
}

.sidebar_footer_navigation_buttons {
    margin-top: 25px;
}

.sidebar_footer_navigation_button:hover {
    text-decoration: underline;
}

.sidebar_footer_social_buttons {
    margin-top: 25px;
    font-size: 26px;
}

.sidebar_footer_social_button {
    color: #A2A2A2;
}

.fb-messengermessageus {
    margin-top: 25px;
}



.page_left, .page_right {
    
}



.page_block {
    position: relative;
    width: 100%;
    padding: 40px 15px 15px;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0 1px 15px rgba(27,31,35,.15),0 0 1px rgba(106,115,125,.35);
}

.page_block.page_block_cards {
    padding: 0px 0px 15px 0px;
}

.page_block img {
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.page_block_circle_buttons {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 12px;
    padding: 0px;
    margin: 0px;
}

.page_block_circle_button {
    float: left;
    height: 12px;
    width: 12px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: gray; 
    opacity: 0.2;
}

.page_block_title {
    font-size: 22px;
    line-height: 28px;
    cursor: pointer;
}

.page_block_title.page_block_title_cards {
    padding: 40px 15px 25px;
}

.page_block_title h1:hover {
    text-decoration: underline;
}

.page_block_title h2:hover {
    text-decoration: underline;
}

.page_block_image {
    margin-top: 25px;
    height: 250px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}

.page_block_widget {
    margin-top: 25px;
}

.page_block_content_left, .page_block_content_right {
    vertical-align: top;
}

.page_block_description {
    margin-top: 25px;
    font-size: 16px;
    line-height: 24px;
}

.page_block_description.page_block_description_cards {
    margin-top: 0px;
    padding: 0px 15px 25px 15px;
    font-size: 16px;
    line-height: 24px;
}

.page_block_time {
    display: inline-block;
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #4a4a4a;
}

.page_block_button {
    float: right;
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #4a4a4a;
    cursor: pointer;
}

.page_block_button:hover {
    text-decoration: underline;
}

.page_block_icon {
    display: inline-block;
    height: 80px;
    width: 80px;
    margin-top: 25px;
    margin-right: 25px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}

.next_button {
    padding: 25px 55px;
    text-align: right;
}



.cards {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 15px;
    margin-bottom: 15px;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

.cards::-webkit-scrollbar {
    display: none;
}

.cards td {
    height: 100%;
}

.card {
    display: inline-block;
    width: 370px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 1px 15px rgba(27,31,35,.15),0 0 1px rgba(106,115,125,.35);
    border-radius: 6px;
    margin-right: 15px;
}

.card_header {
    height: calc(100% - 50px);
    padding: 18px 24px;
}

.card_header_title {
    font-size: 17px;
    font-weight: 600;
    color: #4a4a4a;
    margin-bottom: 5px;
}

.card_header_description {
    font-size: 14px;
    font-weight: 400;
    color: #4a4a4a;
}

.card_header_icon {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    line-height: 60px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.card_footer {
    height: 50px;
    padding: 14px 24px;
    font-size: 14px;
    font-weight: 600;
    color: #A2A2A2;
    border-top: 1px solid #e1e4e8;
}

.card_footer_link {
    cursor: pointer;
}

a.card_footer_link {
    color: #A2A2A2;
    font-weight: 600;
}

.card_footer_link_right {
    cursor: pointer;
    float: right;
}



.post {

}

.post_banner_image {
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.post_content {
    padding: 35px 20px 35px;
}

.post_title {
    font-size: 28px;
    line-height: 34px;
}

.post_sub_title {
    padding-top: 10px;
    font-size: 16px;
    line-height: 24px;
}

.post_body {
    padding-top: 35px;
    font-size: 16px;
    line-height: 24px;
}

.post_body h2 {
    margin: 26px 0px;
    font-size: 22px;
    line-height: 20px;
}

.fb-comments {
    width: 100%;
    padding-top: 35px;
}



.beat_store {
    width: 100%;
    border: 2px solid rgba(183, 150, 24, 0.1);
}



.contact_form {
    
}

.contact_label {
    margin-top: 20px;
}

.contact_textarea {
    width: 100%;
    margin-top: 5px;
    border: 2px solid #4a4a4a;
    border-radius: 5px;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
}

.contact_textbox {
    width: 100%;
    margin-top: 5px;
    border: 2px solid #4a4a4a;
    border-radius: 5px;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
}

.contact_radio {
    margin-top: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
}

.contact_button {
    width: 200px;
    border: 2px solid #4a4a4a;
    border-radius: 5px;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
    cursor: pointer;
}



@media (min-width: 768px) {

}



@media (min-width: 992px) {
    .sidebar_left, .sidebar_right {
        position: fixed;
        top: 0px;
        bottom: 0px;
        z-index: 0;
        width: 40%;
        height: 100%;
        padding: 75px 85px 50px;
    }

    .sidebar_left {
        left: 0px;
    }

    .sidebar_right {
        right: 0px;
    }

    .sidebar_footer {
        position: absolute;
        bottom: 85px;
        width: 70%;
    }
    
    .page_left, .page_right {
        position: static;
        width: 60%;
        z-index: 1;
    }

    .page_left {
        margin-right: 40%;
    }

    .page_right {
        margin-left: 40%;
    }

    .page_block {
        padding: 45px;
    }

    .page_block.page_block_cards {
        padding: 0px 0px 45px 0px;
    }

    .page_block_title.page_block_title_cards {
        padding: 45px 45px 25px 45px;
    }

    .page_block_description.page_block_description_cards {
        margin-top: 0px;
        padding: 0px 45px 25px 45px;
    }

    .page_block_image {
        display: inline-block;
        height: 250px;
        width: 47%;
    }

    .page_block_widget {
        display: inline-block;
        width: 47%;
        margin-right: 2.5%;
    }

    .page_block_content_left, .page_block_content_right {
        display: inline-block;
        width: 47%;
    }
    
    .page_block_content_left {
        margin-right: 2.5%;
    }

    .page_block_content_right {
        margin-left: 2.5%;
    }

    .post_content {
        padding: 55px;
    }
}