@font-face { font-family: 'MuseoSans100'; src: url('../fonts/MuseoSans100.otf'); }
@font-face { font-family: 'MuseoSans300'; src: url('../fonts/MuseoSans300.otf'); }
@font-face { font-family: 'MuseoSans500'; src: url('../fonts/MuseoSans500.otf'); }
@font-face { font-family: 'MuseoSans900'; src: url('../fonts/MuseoSans900.otf'); }

html, body {
    height: 100%;
    max-width: 100%;
    background-color: #fafafa;
    font-family: 'MuseoSans300', Fallback, sans-serif;
    color: #262626;
}

a {
    font-family: 'MuseoSans500', Fallback, sans-serif;
    color: #4a4a4a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'MuseoSans900', Fallback, sans-serif;
    color: #4a4a4a;
}

b {
    font-family: 'MuseoSans500', Fallback, sans-serif;
    color: #4a4a4a;
}



.sidebar_left, .sidebar_right {
    padding: 35px 45px 35px;
    background-color: #fafafa;
}

.sidebar_header {
    height: 80px;
}

.sidebar_header_icon {
    display: inline-block;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('../images/kg-the-maker-logo-portrait.png');
    cursor: pointer;
}

.sidebar_header_logo {
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
}

.sidebar_footer {
    margin-top: 25px;
}

.sidebar_footer_title {
    font-size: 36px;
    line-height: 42px;
}

.sidebar_footer_description {
    margin-top: 25px;
    font-size: 16px;
    line-height: 26px;
}

.sidebar_footer_navigation_buttons {
    margin-top: 25px;
}

.sidebar_footer_navigation_button:hover {
    text-decoration: underline;
}

.sidebar_footer_social_buttons {
    margin-top: 25px;
    font-size: 26px;
}

.sidebar_footer_social_button {
    color: #A2A2A2;
}

.fb-messengermessageus {
    margin-top: 25px;
}



.page_left, .page_right {
    
}



.page_block {
    width: 100%;
    padding: 35px 45px 35px;
}

.page_block img {
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.page_block_title {
    font-size: 22px;
    line-height: 28px;
    cursor: pointer;
}

.page_block_title:hover {
    text-decoration: underline;
}

.page_block_image {
    margin-top: 25px;
    height: 250px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}

.page_block_widget {
    margin-top: 25px;
}

.page_block_content_left, .page_block_content_right {
    vertical-align: top;
}

.page_block_description {
    margin-top: 25px;
    font-size: 16px;
    line-height: 26px;
}

.page_block_time {
    display: inline-block;
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    font-family: 'MuseoSans500', Fallback, sans-serif;
    color: #4a4a4a;
}

.page_block_button {
    float: right;
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    font-family: 'MuseoSans500', Fallback, sans-serif;
    color: #4a4a4a;
    cursor: pointer;
}

.page_block_button:hover {
    text-decoration: underline;
}

.page_block_icon {
    display: inline-block;
    height: 80px;
    width: 80px;
    margin-top: 25px;
    margin-right: 25px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}

.next_button {
    padding: 25px 55px;
    text-align: right;
}



.post {

}

.post_banner_image {
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.post_content {
    padding: 45px;
}

.post_title {
    font-size: 28px;
    line-height: 34px;
}

.post_sub_title {
    padding-top: 10px;
    font-size: 16px;
    line-height: 26px;
}

.post_body {
    padding-top: 35px;
    font-size: 16px;
    line-height: 26px;
}

.post_body h3 {
    margin: 26px 0px;
    font-size: 22px;
    line-height: 20px;
}

.fb-comments {
    width: 100%;
    padding-top: 35px;
}



.beat_store {
    width: 100%;
    border: 2px solid rgba(183, 150, 24, 0.1);
}



.contact_form {
    
}

.contact_label {
    margin-top: 20px;
}

.contact_textarea {
    width: 100%;
    margin-top: 5px;
    border: 2px solid #4a4a4a;
    border-radius: 5px;
    background-color: transparent;
    font-family: 'MuseoSans300', Fallback, sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #262626;
}

.contact_textbox {
    width: 100%;
    margin-top: 5px;
    border: 2px solid #4a4a4a;
    border-radius: 5px;
    background-color: transparent;
    font-family: 'MuseoSans300', Fallback, sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #262626;
}

.contact_radio {
    margin-top: 5px;
    font-family: 'MuseoSans300', Fallback, sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #262626;
}

.contact_button {
    width: 200px;
    border: 2px solid #4a4a4a;
    border-radius: 5px;
    background-color: transparent;
    font-family: 'MuseoSans300', Fallback, sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #262626;
    cursor: pointer;
}



@media (min-width: 768px) {

}



@media (min-width: 992px) {
    .sidebar_left, .sidebar_right {
        position: fixed;
        top: 0px;
        bottom: 0px;
        z-index: 0;
        width: 40%;
        height: 100%;
        padding: 75px 85px 50px;
    }

    .sidebar_left {
        left: 0px;
    }

    .sidebar_right {
        right: 0px;
    }

    .sidebar_footer {
        position: absolute;
        bottom: 85px;
        width: 70%;
    }
    
    .page_left, .page_right {
        position: static;
        width: 60%;
        z-index: 1;
    }

    .page_left {
        margin-right: 40%;
    }

    .page_right {
        margin-left: 40%;
    }

    .page_block {
        padding: 65px;
    }

    .page_block_image {
        display: inline-block;
        height: 250px;
        width: 47%;
    }

    .page_block_widget {
        display: inline-block;
        width: 47%;
        margin-right: 2.5%;
    }

    .page_block_content_left, .page_block_content_right {
        display: inline-block;
        width: 47%;
    }
    
    .page_block_content_left {
        margin-right: 2.5%;
    }

    .page_block_content_right {
        margin-left: 2.5%;
    }

    .post_content {
        padding: 55px;
    }
}